@media only screen and (max-width : 480px) {
	.container-fluid img {
		height: 0.7em;
		width: 4.5em;
	}

	.container-fluid {
		padding-top: 10px;
	}

	.botoneslink .col-md-4 {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.nav a {
		text-align: center;
	}

	.verticalcenter h2 {
		font-size: 1.5em;
	}

	.borderhelper {
		border-right: none;
		border-left: none;
	}
}

